
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>操作说明</title>
</head>
<body>
<div>
    <div>
        <h2>回复1：</h2>
        <p>获取用户Token</p>
    </div>
    <div>
        <h2>回复2：</h2>
        <p>回复2：获取一个链接！</p>
    </div>
</div>
</body>
</html>
